Repository dhruvkb/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.{css,html,json,md,mdx,pcss,svg,yml}": ["prettier --write"]
}

Make 'peach' the site-wide accent color
  packages/website/src/components/ContactList.astro
  packages/website/src/components/FunFact.astro
  packages/website/src/components/Kaomoji.astro
  packages/website/src/components/SiteHeader.astro
  packages/website/src/components/Table.astro
  packages/website/src/plugins/rehype_tailwind.ts
  packages/website/src/styles/common.css
  packages/website/src/utils/og_image.ts
Due: eslint --fix, prettier --write

Remove unused content schema field
  packages/website/src/content.config.ts
Due: eslint --fix, prettier --write

Add a fun-fact
  packages/website/src/components/FunFact.astro
Due: eslint --fix, prettier --write

Revamp styles to emphasise distinction between CSS files and Rehype Tailwind
  packages/website/src/plugins/rehype_tailwind.ts
  packages/website/src/styles/base.css
  packages/website/src/styles/common.css
  packages/website/src/styles/screen.css
Due: eslint --fix, prettier --write

Avoid global store
  packages/website/src/components/Table.astro
Due: eslint --fix, prettier --write

Set up page layouts
  packages/website/src/layouts/content.astro
  packages/website/src/layouts/resume.astro
  packages/website/src/layouts/root.astro
  packages/website/src/layouts/screen.astro
  packages/website/src/layouts/writings.astro
Due: eslint --fix, prettier --write

Show years in a popover
  packages/website/src/layouts/resume.astro
Due: eslint --fix, prettier --write

Add the index page
  packages/website/src/components/ContactList.astro
  packages/website/src/components/Kaomoji.astro
  packages/website/src/pages/index.mdx
Due: eslint --fix, prettier --write

Remove redundant class
  packages/website/src/components/SiteHeader.astro
Due: eslint --fix, prettier --write

Add the 404 page
  packages/website/src/assets/images/oof.jpg
  packages/website/src/pages/404.mdx
Due: prettier --write

Add index pages for writings and résumé
  packages/website/src/pages/resume/_index.mdx
  packages/website/src/pages/resume/index.astro
  packages/website/src/pages/writings/_index.mdx
  packages/website/src/pages/writings/index.astro
Due: eslint --fix, prettier --write

Add a colophon page
  packages/website/src/pages/colophon.mdx
Due: prettier --write

Change "time" to "work"
  packages/website/src/pages/og/resume/orgs/[id].png.ts
Due: eslint --fix, prettier --write

Remove unnecessary nesting in `class:list`
  packages/website/src/components/Table.astro
Due: eslint --fix, prettier --write

Add the Now and Uses pages
  packages/website/src/pages/now.mdx
  packages/website/src/pages/uses.mdx
Due: prettier --write

Replace `prodAge` with `hobbyAge` and `jobAge`
  packages/website/src/data/site.json
  packages/website/src/stores/site.ts
Due: eslint --fix, prettier --write

Add subpages under résumé and writings
  packages/website/src/pages/resume/epics/[id].astro
  packages/website/src/pages/resume/orgs/[id].astro
  packages/website/src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Handle case with zero writings and thus zero categories
  packages/website/src/layouts/writings.astro
Due: eslint --fix, prettier --write

Tweak components that appear in print-friendly résumé
  packages/website/src/components/ContactList.astro
  packages/website/src/components/TimePeriod.astro
Due: eslint --fix, prettier --write

Fix markup by adding missing space
  packages/website/src/pages/resume/_index.mdx
Due: prettier --write

Extract label text generation to a util for reuse and format MDX content
  packages/website/src/pages/index.mdx
  packages/website/src/utils/recivi.ts
Due: eslint --fix, prettier --write

Dim the icon color in PDF mode
  packages/website/src/components/ContactList.astro
Due: eslint --fix, prettier --write

Add tagging to projects and roles
  packages/recivi/src/models/base/tag.ts
  packages/recivi/src/models/creations/project.ts
  packages/recivi/src/models/work/role.ts
Due: eslint --fix, prettier --write

Add description field to projects and roles
  packages/recivi/src/models/creations/project.ts
  packages/recivi/src/models/work/role.ts
Due: eslint --fix, prettier --write

Make rendering of technologies consistent across the app
  packages/website/src/components/EpicCard.astro
Due: eslint --fix, prettier --write

Add a couple of little helpful messages
  packages/website/src/layouts/resume.astro
Due: eslint --fix, prettier --write

Create the PDF with the print pipeline
  packages/website/package.json
  packages/website/src/components/EpicEntry.astro
  packages/website/src/components/OrgEntry.astro
  packages/website/src/pages/resume/_index.mdx
  packages/website/src/pages/resume/epics/[id].astro
  packages/website/src/pages/resume/orgs/[id].astro
  packages/website/src/pages/resume/pdf.astro
  packages/website/src/scripts/print.mjs
  packages/website/src/styles/colors.css
  packages/website/src/styles/print.css
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Publish an incomplete first pass of my Récivi data
  packages/examples/recivi.json
Due: prettier --write

Use summary from bio section of Récivi
  packages/website/src/pages/resume/pdf.astro
Due: eslint --fix, prettier --write

Delete old static PDF
  packages/website/public/resume.pdf
Due: none

Update specificity of PDF styles
  packages/website/tailwind.config.ts
Due: eslint --fix, prettier --write

Delete outdated and irrelevant workflows
  .github/workflows/checks.yml
  .github/workflows/codeql.yml
Due: prettier --write

Use fixed version in `.nvmrc`
  .nvmrc
Due: none

Include Noto Color Emoji as it is needed to render emoji during printing
  packages/website/src/pages/resume/pdf.astro
Due: eslint --fix, prettier --write

Add blank line
  packages/website/src/styles/screen.css
Due: prettier --write

Update icon packs
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

Update how skills are rendered in both résumé modes
  packages/examples/recivi.json
  packages/website/src/components/Skill.astro
  packages/website/src/layouts/resume.astro
  packages/website/src/utils/recivi.ts
Due: eslint --fix, prettier --write

Update Astro and associated packages
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

Add field for repo URL to site information
  packages/website/src/components/SiteFooter.astro
  packages/website/src/data/site.json
  packages/website/src/pages/colophon.mdx
  packages/website/src/pages/now.mdx
  packages/website/src/stores/site.ts
Due: eslint --fix, prettier --write

Use `Link` component over `a` tag
  packages/website/src/pages/resume/_index.mdx
  packages/website/src/pages/resume/pdf.astro
Due: eslint --fix, prettier --write
