Repository dhruvkb/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{css,html,json,md,mdx,pcss,svg,yml}": ["prettier --write"]
}

Update packages
  package-lock.json
  package.json
Due: prettier --write

Exclude autogenerated components file from Prettier
  .prettierignore
  components.d.ts
Due: eslint --fix, prettier --write

Install, configure and style Prism blocks
  iles.config.ts
  package.json
  src/layouts/post.vue
  src/styles/prism.pcss
Due: eslint --fix, prettier --write

Update many packages to newer versions
  package.json
Due: prettier --write

Create a component to show other posts from the series or adjacent posts
  src/sections/PostMoreSection.vue
Due: eslint --fix, prettier --write

Use quotes around theme values
  src/styles/index.pcss
Due: prettier --write

Make website a separate workspace inside the monorepo
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  package-lock.json
  package.json
  packages/website/env.d.ts
  packages/website/icons/2fac.svg
  packages/website/icons/browserstack.svg
  packages/website/icons/centerofci.svg
  packages/website/icons/img.svg
  packages/website/icons/pls.svg
  packages/website/icons/portfolio.svg
  packages/website/icons/reschume.svg
  packages/website/icons/seeelaye.svg
  packages/website/iles.config.ts
  packages/website/package.json
  packages/website/public/safari-pinned-tab.svg
  packages/website/src/cards/EpicCard.vue
  packages/website/src/cards/OrgCard.vue
  packages/website/src/components/CopyLinkButton.vue
  packages/website/src/components/PostCard.vue
  packages/website/src/components/PrintButton.vue
  packages/website/src/composables/game_of_life.ts
  packages/website/src/layouts/default.vue
  packages/website/src/models/project.ts
  packages/website/src/models/resume.ts
  packages/website/src/models/role.ts
  packages/website/src/sections/ContactSection.vue
  packages/website/src/sections/FooterSection.vue
  packages/website/src/sections/ResumeSection.vue
  packages/website/src/sections/WorksSection.vue
  packages/website/src/styles/blog.pcss
  packages/website/src/styles/index.pcss
  packages/website/src/styles/prism.pcss
  prettier.config.js
Due: eslint --fix, prettier --write

Use TS configuration from îles template
  packages/website/tsconfig.json
  tsconfig.config.json
  tsconfig.json
Due: prettier --write

Update website description
  packages/website/package.json
Due: prettier --write

Combine `dest` and `label` in links
  packages/website/src/cards/EpicCard.vue
  packages/website/src/cards/OrgCard.vue
  packages/website/src/components/ContentsTable.vue
  packages/website/src/components/Link.vue
  packages/website/src/components/PostCard.vue
  packages/website/src/composables/projects_table.ts
  packages/website/src/composables/roles_table.ts
  packages/website/src/pages/404.vue
Due: eslint --fix, prettier --write

Create constants for role types
  packages/website/src/cards/OrgCard.vue
  packages/website/src/composables/roles_table.ts
  packages/website/src/constants/role_types.ts
Due: eslint --fix, prettier --write

Switch to pnpm as the package manager
  .husky/pre-commit
  .husky/pre-push
  .npmrc
  .prettierignore
  package-lock.json
  package.json
  packages/website/components.d.ts
  packages/website/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

Consistently use type imports
  .eslintrc.js
Due: eslint --fix, prettier --write

Initialise récivi and mark it a dependency of the website
  packages/recivi/package.json
  packages/recivi/tsconfig.json
  packages/website/package.json
Due: prettier --write

Create TS types for résumé info
  packages/recivi/src/models/base/address.ts
  packages/recivi/src/models/base/contact.ts
  packages/recivi/src/models/base/coords.ts
  packages/recivi/src/models/base/date.ts
  packages/recivi/src/models/base/period.ts
  packages/recivi/src/models/base/phone.ts
  packages/recivi/src/models/base/url.ts
  packages/recivi/src/models/bio/bio.ts
  packages/recivi/src/models/bio/profile.ts
  packages/recivi/src/models/bio/site.ts
  packages/recivi/src/models/bio/skill.ts
  packages/recivi/src/models/creations/epic.ts
  packages/recivi/src/models/creations/project.ts
  packages/recivi/src/models/creations/tech.ts
  packages/recivi/src/models/education/cert.ts
  packages/recivi/src/models/education/institute.ts
  packages/recivi/src/models/index.ts
  packages/recivi/src/models/work/org.ts
  packages/recivi/src/models/work/role.ts
  packages/recivi/src/models/work/role_location.ts
  packages/recivi/src/models/work/role_type.ts
Due: eslint --fix, prettier --write

Add new and remove unused icons
  packages/website/icons/centerofci.svg
  packages/website/icons/seeelaye.svg
  packages/website/src/composables/icon.ts
Due: eslint --fix, prettier --write

Set up build and dist for Récivi
  .gitignore
  packages/recivi/package.json
  packages/recivi/src/scripts/barrel.mjs
Due: prettier --write

Use CSS to filter featured projects and roles
  packages/website/src/cards/EpicCard.vue
  packages/website/src/cards/OrgCard.vue
Due: eslint --fix, prettier --write

Update path to models
  packages/website/src/composables/projects_table.ts
  packages/website/src/composables/roles_table.ts
Due: eslint --fix, prettier --write

Add compatibility for Récivi `Url`s
  packages/website/src/components/Link.vue
Due: eslint --fix, prettier --write

Export tuple types for dates from Récivi
  packages/recivi/src/models/base/date.ts
  packages/website/src/utils/date.ts
Due: eslint --fix, prettier --write

Update usages of component `Link` to use `url` prop
  packages/website/src/sections/BlogSection.vue
  packages/website/src/sections/FooterSection.vue
  packages/website/src/sections/HeaderSection.vue
  packages/website/src/sections/IntroSection.vue
  packages/website/src/sections/ObtainSection.vue
  packages/website/src/sections/PostEnjoyedSection.vue
  packages/website/src/sections/PostHeaderSection.vue
Due: eslint --fix, prettier --write

Update résumé store to use new models
  packages/website/src/data/featured.json
  packages/website/src/data/recivi.json
  packages/website/src/layouts/default.vue
  packages/website/src/stores/resume.ts
Due: eslint --fix, prettier --write

Update résumé models based on Récivi
  packages/website/src/models/project.ts
  packages/website/src/models/resume.ts
  packages/website/src/models/role.ts
  packages/website/src/resume/epic.ts
  packages/website/src/resume/featured.ts
  packages/website/src/resume/org.ts
  packages/website/src/resume/project.ts
  packages/website/src/resume/role.ts
Due: eslint --fix, prettier --write

Remove unused package Reschume
  packages/website/package.json
Due: prettier --write

Rename Reschume icon
  packages/website/icons/recivi.svg
Due: prettier --write

Replace Reschume models with Récivi counterparts
  packages/website/src/components/Period.vue
  packages/website/src/components/TechStack.vue
  packages/website/src/composables/contacts.ts
  packages/website/src/sections/ContactSection.vue
  packages/website/src/sections/SkillsSection.vue
Due: eslint --fix, prettier --write

Change string `label` to list of strings `labels`
  packages/recivi/src/models/bio/bio.ts
Due: eslint --fix, prettier --write

Add two address fields to bio
  packages/recivi/src/models/bio/bio.ts
Due: eslint --fix, prettier --write

Port scaffolding to Astro
  .eslintrc.js
  .gitignore
  .lintstagedrc
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update packages
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

Setup Tailwind
  packages/website/tailwind.config.ts
Due: eslint --fix, prettier --write

Configure Prettier
  prettier.config.js
Due: eslint --fix, prettier --write

Scaffold Astro
  packages/website/astro.config.mjs
  packages/website/src/env.d.ts
  packages/website/tsconfig.json
Due: eslint --fix, prettier --write

Add utilities for generating OG images
  packages/website/src/utils/hash.ts
  packages/website/src/utils/og_image.ts
Due: eslint --fix, prettier --write

Setup the Astro content configuration
  packages/website/src/content/config.ts
  packages/website/src/utils/collections.ts
Due: eslint --fix, prettier --write

Add custom Astro plugins
  packages/website/src/integrations/watch_plugins.ts
  packages/website/src/plugins/rehype_tailwind.ts
  packages/website/src/plugins/remark_mtime.ts
Due: eslint --fix, prettier --write

Add a component to randomly display a fun-fact
  packages/website/src/components/FunFact.astro
Due: none
