Repository dhruvkb/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.{css,html,json,md,mdx,pcss,svg,yml}": ["prettier --write"]
}

Upgrade to TailwindCSS v4
  astro.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  src/styles/tailwind.css
  tailwind.config.ts
Due: eslint --fix, prettier --write

Simplify component `Breakpoint` to handle only `sm` and `xl`
  src/components/Breakpoint.astro
Due: eslint --fix, prettier --write

Use `getElementById` instead of `querySelector`
  src/layouts/writings.astro
Due: eslint --fix, prettier --write

Replace custom color `-trans` with built-in value `-transparent`
  src/components/TocNode.astro
Due: eslint --fix, prettier --write

Replace custom color `-curr` with built-in value `-current`
  src/components/SiteHeader.astro
Due: eslint --fix, prettier --write

Remove redundant border style on invisible component
  src/components/EpicCard.astro
Due: eslint --fix, prettier --write

Use real color names instead of semantic defaults
  src/layouts/root.astro
Due: eslint --fix, prettier --write

Differentiate Catppuccin color names from TailwindCSS theme variables
  src/styles/colors.css
Due: prettier --write

Remove Rehype plugin and file watcher
  astro.config.ts
  src/integrations/watch_plugins.ts
  src/plugins/rehype_tailwind.ts
Due: eslint --fix, prettier --write

Revamp CSS for the default media of screens
  prettier.config.mjs
  src/styles/screen.css
Due: prettier --write

Simplify layouts using by breaking out cards and tables from the parent container
  src/components/ContactList.astro
  src/components/EpicCard.astro
  src/components/InstituteCard.astro
  src/components/OrgCard.astro
  src/components/Table.astro
  src/layouts/resume.astro
  src/layouts/writings.astro
Due: eslint --fix, prettier --write

Remove redundant styles
  src/pages/resume/epics/[id].astro
  src/pages/resume/orgs/[id].astro
  src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Simplify styles for horizontal rule
  src/pages/writings/posts/[slug].astro
  src/styles/screen.css
Due: eslint --fix, prettier --write

Use one CSS block per tag
  src/styles/screen.css
Due: prettier --write

Add missing dot before class name in comment
  src/components/SiteHeader.astro
Due: eslint --fix, prettier --write

Fix order of classes
  src/layouts/content.astro
Due: eslint --fix, prettier --write

Add simplified icon for Zsh
  src/assets/icons/zsh.svg
  src/utils/icon.ts
Due: eslint --fix, prettier --write

Use long-form for Alpine attributes and move them to the end
  src/components/Table.astro
  src/layouts/writings.astro
Due: eslint --fix, prettier --write

Update Récivi schemas to v0.0.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix text size for footnote label
  src/styles/screen.css
Due: prettier --write

Add the language proficiency segment
  src/components/LanguageList.astro
  src/layouts/resume.astro
Due: eslint --fix, prettier --write

Revamp the print styling and how the print preview is rendered in the browser
  src/pages/resume/pdf.astro
  src/styles/print.css
Due: eslint --fix, prettier --write

Add utils for working with language proficiency
  src/utils/recivi.ts
Due: eslint --fix, prettier --write

Use non-breaking spaces to keep subskills next to their parent skills
  src/utils/recivi.ts
Due: eslint --fix, prettier --write

Use different Prettier rules for print
  prettier.config.mjs
Due: none

Remove unnecessary scroll context
  src/layouts/screen.astro
Due: eslint --fix, prettier --write

Remove unnecessary text color from footnote heading
  src/styles/screen.css
Due: prettier --write

Use `Alpine.data` instead of hack
  src/components/LanguageList.astro
Due: eslint --fix, prettier --write

Introduce new breakpoints and fix breakpoint code using a web component
  src/components/Breakpoint.astro
  src/styles/tailwind.css
Due: eslint --fix, prettier --write

Move header and footer inside the secondary content
  src/layouts/screen.astro
  src/pages/resume/epics/[id].astro
  src/pages/resume/orgs/[id].astro
  src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Include the series info inside the container
  src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Add a paragraph explaining why so many languages
  src/layouts/resume.astro
Due: eslint --fix, prettier --write

Avoid deeply nested `<details>` in table of contents
  src/components/TocNode.astro
Due: eslint --fix, prettier --write

Remove unnecessary placeholder text
  src/layouts/writings.astro
Due: eslint --fix, prettier --write

Add sticky table of contents when the screen is wide enough
  src/layouts/screen.astro
  src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Remove decoration color for internal links
  src/styles/screen.css
Due: prettier --write

Set up `IntersectionObserver`
  src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Fix types for `window`/`globalThis`
  src/env.d.ts
Due: eslint --fix, prettier --write

Fix incorrect layout name used in place of "screen"
  src/layouts/content.astro
  src/layouts/resume.astro
  src/layouts/screen.astro
  src/layouts/writings.astro
Due: eslint --fix, prettier --write

Update `README.md` and associated assets
  README.md
  readme_assets/cover.jpeg
  readme_assets/logo.png
Due: prettier --write
