Repository dhruvkb/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.{css,html,json,md,mdx,pcss,svg,yml}": ["prettier --write"]
}

Remove non-existent util
  packages/website/src/components/OrgEntry.astro
Due: eslint --fix, prettier --write

Replace `<strong>` with `<em>` to avoid breaking page hierarchy
  packages/examples/recivi.json
Due: prettier --write

Clarify that IndieAuth is automatically supported by the contact list
  packages/website/src/components/ContactList.astro
Due: eslint --fix, prettier --write

Update ID for Nuxt
  packages/examples/recivi.json
Due: prettier --write

Add RSS feed and update writings index
  packages/website/src/pages/rss.xml.ts
  packages/website/src/pages/writings/_index.mdx
Due: eslint --fix, prettier --write

Include a Mastodon contact channel
  packages/examples/recivi.json
Due: prettier --write

Include Fediverse attribution
  packages/website/src/data/site.json
  packages/website/src/stores/site.ts
  packages/website/src/utils/meta.ts
Due: eslint --fix, prettier --write

Include the RSS icon
  packages/website/src/pages/writings/_index.mdx
Due: prettier --write

Abandon the idea of featured posts
  packages/website/src/content.config.ts
Due: eslint --fix, prettier --write

Update favicon and other icons to peach theme
  packages/website/public/favicon.ico
  packages/website/public/icon-512-maskable.png
  packages/website/public/icon-512.png
  packages/website/public/icon.svg
Due: prettier --write

Delete redundant `.gitignore` file
  .husky/.gitignore
Due: none

Remove useless `--` in pnpm scripts
  package.json
Due: prettier --write

Enable site to read Récivi data from an external source
  packages/examples/recivi.json
  packages/website/src/data/site.json
  packages/website/src/stores/site.ts
Due: eslint --fix, prettier --write

Drop `recivi` from the repo as it has a new home
  .gitignore
  packages/recivi/package.json
  packages/recivi/src/models/base/address.ts
  packages/recivi/src/models/base/contact.ts
  packages/recivi/src/models/base/coords.ts
  packages/recivi/src/models/base/date.ts
  packages/recivi/src/models/base/period.ts
  packages/recivi/src/models/base/phone.ts
  packages/recivi/src/models/base/tag.ts
  packages/recivi/src/models/base/url.ts
  packages/recivi/src/models/bio/bio.ts
  packages/recivi/src/models/bio/profile.ts
  packages/recivi/src/models/bio/site.ts
  packages/recivi/src/models/bio/skill.ts
  packages/recivi/src/models/creations/epic.ts
  packages/recivi/src/models/creations/project.ts
  packages/recivi/src/models/creations/tech.ts
  packages/recivi/src/models/education/cert.ts
  packages/recivi/src/models/education/institute.ts
  packages/recivi/src/models/index.ts
  packages/recivi/src/models/work/org.ts
  packages/recivi/src/models/work/role.ts
  packages/recivi/src/models/work/role_location.ts
  packages/recivi/src/models/work/role_type.ts
  packages/recivi/src/scripts/barrel.mjs
  packages/recivi/tsconfig.json
Due: eslint --fix, prettier --write

Update references to website package
  .gitignore
  .prettierignore
  pnpm-workspace.yaml
  prettier.config.js
Due: eslint --fix, prettier --write

Convert Prettier configuration to module
  prettier.config.mjs
Due: none

Update references to Récivi
  package.json
  src/components/ContactList.astro
  src/components/Date.astro
  src/components/EpicCard.astro
  src/components/EpicEntry.astro
  src/components/IconName.astro
  src/components/Link.astro
  src/components/OrgEntry.astro
  src/components/Skill.astro
  src/components/Table.astro
  src/components/TimePeriod.astro
  src/models/recivi.ts
  src/models/table.ts
  src/pages/og/resume/epics/[id].png.ts
  src/pages/resume/epics/[id].astro
  src/pages/resume/orgs/[id].astro
  src/stores/recivi.ts
  src/utils/date_fmt.ts
  src/utils/og_image.ts
  src/utils/recivi.ts
Due: eslint --fix, prettier --write

Update hooks and scripts
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

Migrate script to TypeScript and use `tsx`
  package.json
  src/scripts/print.ts
Due: eslint --fix, prettier --write

Expand site store documentation and drop `site.json`
  astro.config.ts
  src/data/site.json
  src/stores/site.ts
Due: eslint --fix, prettier --write

Replace link to `repoUrl` with Récivi credits
  src/components/SiteFooter.astro
Due: eslint --fix, prettier --write

Drop `repoUrl` from site store
  src/pages/colophon.mdx
  src/pages/now.mdx
  src/stores/site.ts
Due: eslint --fix, prettier --write

Support local and remote URLs for Récivi data files
  src/stores/recivi.ts
Due: eslint --fix, prettier --write

Move single-use variable out of the store
  src/pages/resume/_index.mdx
  src/stores/recivi.ts
Due: eslint --fix, prettier --write

Re-lock packages
  pnpm-lock.yaml
Due: none

Use `node:path` instead of URL manipulation and add logging
  astro.config.ts
  src/integrations/watch_plugins.ts
Due: eslint --fix, prettier --write

Setup reloading when the Récivi data file changes
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/integrations/watch_recivi.ts
Due: eslint --fix, prettier --write

Use `fileURLToPath` instead of string replacement
  src/stores/recivi.ts
Due: eslint --fix, prettier --write

Fix Récivi link in colophon and link to résumé data file
  src/pages/colophon.mdx
Due: prettier --write

Replace `text-subtle` with `text-overlay1`
  src/components/ContactList.astro
  src/components/EpicCard.astro
  src/components/EpicEntry.astro
  src/components/InstituteCard.astro
  src/components/OrgCard.astro
  src/components/OrgEntry.astro
  src/components/SiteFooter.astro
  src/components/Skill.astro
  src/components/Table.astro
  src/components/TocNode.astro
  src/pages/resume/epics/[id].astro
  src/pages/resume/orgs/[id].astro
  src/pages/writings/posts/[slug].astro
  src/utils/date_fmt.ts
Due: eslint --fix, prettier --write

Fix incorrectly ordered utils
  src/components/EpicEntry.astro
  src/components/OrgEntry.astro
  src/components/TocNode.astro
Due: eslint --fix, prettier --write

Add explicit border color
  src/components/EpicCard.astro
  src/components/EpicEntry.astro
  src/components/InstituteCard.astro
  src/components/OrgCard.astro
  src/components/OrgEntry.astro
  src/components/SiteFooter.astro
  src/components/SiteHeader.astro
  src/components/Table.astro
  src/components/TocNode.astro
  src/layouts/screen.astro
  src/layouts/writings.astro
  src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Replace `flex-grow` with `grow`
  src/layouts/resume.astro
  src/layouts/screen.astro
  src/layouts/writings.astro
  src/utils/og_image.ts
Due: eslint --fix, prettier --write

Remove unnecessary border
  src/components/Table.astro
Due: eslint --fix, prettier --write

Add classes `.md-page` and `.md-post`
  src/layouts/content.astro
  src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Set explicit rounding radius
  src/components/TocNode.astro
  src/layouts/writings.astro
Due: eslint --fix, prettier --write

Remove comma from grid columns
  src/layouts/screen.astro
  src/pages/resume/epics/[id].astro
  src/pages/resume/orgs/[id].astro
  src/pages/writings/posts/[slug].astro
Due: eslint --fix, prettier --write

Handle one-off size using arbitrary value
  src/components/Icon.astro
Due: eslint --fix, prettier --write

Remove redundant styles
  src/layouts/resume.astro
Due: eslint --fix, prettier --write
